<div *ngIf="module && module.activities && module.activities.length>0">
  <div id="accordion" >

      <!--string name = Regex.Replace(@module.Name, @"[\W_]+", string.Empty);-->
      <div class="card" *ngFor="let activity of module.activities">
          <div class="card-header" [id]="module.id">
              
                  <div class="btn btn-link collapsed"
                      [attr.data-target]="'#'+ activity.name2"
                      [attr.aria-controls]="activity.name2"
                      data-toggle="collapse"
                      [attr.aria-expanded]="false"
                      (click)="TogggelCollapse(activity.id)"
                      >
                      <h5 class="mb-0"> 
                          {{ activity.name }}
                        </h5>
                  </div>
              
          </div>

          <div [id]="activity.name2" [class]="'collapse'+ activity.isExpanded" [attr.aria-labelledby]="activity.id" data-parent="#accordion">
              <div class="card-body" *ngIf="module.activities && module.activities.length >0">
                    <span class="float-right"> {{activity.startDate |date: 'yyyy-MM-dd HH:mm'}} -{{activity.endDate |date: 'yyyy-MM-dd HH:mm'}}</span>
                    <p>{{activity.description}}
                    <br>{{activity.activityType}}</p>
                  <!-- Place for files under here-->
                  <h4>Activities</h4>
                  <ul class="timeline">

                      <li *ngFor="let activity of module.activities">
                            
                          <a asp-controller="LMSActivities" asp-action="Details" [attr.asp-route-id]="activity.id">{{activity.name}}</a>
                          <span class="float-right"> {{activity.startDate |date: 'yyyy-MM-dd hh:mm:ss'}}</span>
                          <p>{{activity.description}}
                          <br>{{activity.activityType.name}}</p>
                          <div *ngIf="isTeacher">
                              <a asp-controller="LMSActivities" asp-action="Edit" [attr.asp-route-id]="activity.id">Edit Activity</a>&nbsp;|&nbsp;
                              <a asp-controller="LMSActivities" asp-action="Delete" [attr.asp-route-id]="activity.id">Delete Activity</a>
                          </div>
                      </li>

                  </ul>
                  <div *ngIf="isTeacher">
                      Add Activity
                  </div>
              </div>

          </div>

      </div>

   </div>

</div>