<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div class="row">
        <div class="col-md-5">
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            Course
        </dt>
        <dd class="col-sm-9">
            {{course.name}}
        </dd>
        <dt class="col-sm-3">
            Start&nbsp;Date
        </dt>
        <dd class="col-sm-9">
            {{course.startDate |date: 'yyyy-MM-dd'}}
        </dd>
        <dt class="col-sm-3">
            Description
        </dt>
        <dd class="col-sm-9">
            {{course.description}}
        </dd>
    </dl>

    <form #mycourse="ngForm" (ngSubmit)="ConfirmedDelete()">
        <input type="hidden" />
        <div class="row">
            <div class="col-6">
              <input type="submit" value="Delete" class="btn btn-danger" /> 
            </div><div class="col-6">
                <a class="btn btn-info" [routerLink]="['/courses']" title="Back to List"><i class="fa fa-2x fa-arrow-circle-left"></i></a>
            </div>
        </div>
    </form>
</div>
</div>

<h4>NOTICE! All documents and activities connected to this course will be deleted.</h4>