<h1>Edit</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form #mycourse="ngForm" (ngSubmit)="UpdateCourse()">
                <div class="form-group">
                    <label for="cname" class="control-label">Course Name</label>
                    <input type="text" required minlength="4" maxlength="25"
                           [(ngModel)]="editCourse.name" name="cname" class="form-control" #vdname="ngModel" />
                    <div *ngIf="vdname.invalid && (vdname.dirty || vdname.touched)" class="alert alert-danger">
                        <div *ngIf="vdname.errors.required">Course name is required</div>
                        <div *ngIf="vdname.errors.minlength">Course name must be more than 4 characters</div>
                        <div *ngIf="vdname.errors.maxlength">Course name must be less than 25 characters</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="startDate" class="control-label">Start Date</label>
                    <input required type="datetime-local" [(ngModel)]="editCourse.startDate" name="startDate" class="form-control" #vdstart="ngModel"/>
                    <div *ngIf="vdstart.invalid && (vdstart.dirty || vdstart.touched)" class="alert alert-danger">
                        <div *ngIf="vdstart.errors.required">Course start date is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Description" class="control-label">Description</label>
                    <input type="text" required minlength="4" maxlength="200" [(ngModel)]="editCourse.description" name="description" class="form-control" #vddesc="ngModel"/>
                    <div *ngIf="vddesc.invalid && (vddesc.dirty || vddesc.touched)" class="alert alert-danger">
                        <div *ngIf="vddesc.errors.required">Description is required</div>
                        <div *ngIf="vddesc.errors.minlength">Description must be more than 4 characters</div>
                        <div *ngIf="vddesc.errors.maxlength">Description must be less than 200 characters</div>
                    </div>
                </div>
                <div class="form-group">
                    <b>File:  </b>
                    <label for="courseImgPath" class="control-label">{{editCourse.courseImgPath}}</label>
                    <input type="file" #fileInput [(ngModel)]="editCourse.courseImgPath" name="courseImgPath" class="form-control" 
                           id="selectedFile" accept='image/*' (change)="preview(fileInput.files)" style="display: none;"/>
                    <div style="padding-left:20px"></div>
                    <input type="button" value=" Select a file " onclick="document.getElementById('selectedFile').click();" class="btn-secondary" />
                    <!--<input type="file" name="coursePath" class="form-control" />-->
                </div>
                <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                            <div class="col-6">
                                <a class="btn btn-info" [routerLink]="['/courses']" title="Back to List"><i class="fa fa-2x fa-arrow-circle-left"></i></a>
                            </div>
                        </div>
                </div>     
        </form>
    </div>


<div>
        <div class="col-md-4">
                <div>
                    <img [src]="imgURL" height="200" *ngIf="imgURL">
                </div> 
</div>
</div>
