<div *ngIf="module">
    <div class="row">

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{module.name}}</h3>
                    <h5 class="card-title">{{module.startDate |date: 'yyyy-MM-dd'}} - {{module.endDate |date: 'yyyy-MM-dd'}}</h5>
                    <p class="card-text"> {{module.description}}</p>

                </div>


                <div class="card-body">
                    <div class="row" *ngIf="isTeacher">
                        <div class="col-6">
                             <a [routerLink]="['/Modules/edit', module.id]">Edit module</a> 
                           <!-- <a asp-controller="Modules" asp-action="CreateWithCourseid" asp-route-id="@Model.Id" class="card-link">Edit module</a>-->
                        </div>
                        <div class="col-6">
                            <a [routerLink]="['/Modules/Delete', module.id]">Delete module</a> -
                            Delete module
                        </div>
                        <div class="col-6">
                            <!-- <a [routerLink]="['/Activites/AddActivityWithModuleId', .id]">Activity/a> -->
                                <a [routerLink]="['/Activity/create']">Add module</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <a [routerLink]="['/courses/', module.courseId]">Go back</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-5">
            <activity_list [moduleid]="module.id"></activity_list>
        </div>
       

        <div class="col-md-4">
            <div>
                <upload-detail [DocOwnerId]="module.id"></upload-detail>
            </div>
            <doc-upload [DocOwnerId]="module.id" [DocOwnerTypeId]="2" [DocumentTypeId]="3"></doc-upload>


        </div>
    </div>
    </div>
  