
<div class="row">

    <div class="col-md-3">
        <div class="card" style="width: 18rem;">

           
            <img class="card-img-top" src="" alt="Card image cap" />
            <div class="card-body">
                <h3 class="card-title"></h3>

                <h5 class="card-title"></h5>
                <p class="card-text"></p>

            </div>
            <div class="card-body">
                <a class="card-link">Edit Course</a>
                <a class="card-link">Delete Course</a>
            </div>
        </div>
    </div>

</div>
