
<div class="row" style="margin-bottom:15px;">
    <div class="col-md-4">
        <a class="btn btn-outline-primary" [routerLink]="['/courses/create']" *ngIf="isTeacher" title="Create Course"><i class="fa fa-3x fa-plus-square"></i></a>
    </div>
</div>



    <div class="row" *ngIf='courses && courses.length'>

        <div class="col-md-4" *ngFor='let course of courses'>

            <div class="card" style="width: 19rem;">


                <a [routerLink]="['/courses', course.id]">
                    <img class="card-img-top fitimg"   width="18 rem" [src]="course.courseImgPath==null?'':course.courseImgPath" alt="Card image cap" />
                    <div class="card-body">
                        <h3 class="card-title">{{course.name}}</h3>

                        <h5 class="card-title">{{course.startDate |date: 'yyyy-MM-dd'}}</h5>


                    </div>
                </a>
                <div class="card-body" *ngIf="isTeacher">
                    <a class="card-link" [routerLink]="['/courses/edit', course.id]" [title]="'Edit course '+ course.name"><i class="fa fa-2x fa-edit"></i></a>
                    <a class="card-link" [routerLink]="['/courses/delete', course.id]" [title]="'Delete course '+ course.name"><i class="fa fa-2x fa-minus-square"></i></a>
                    <a class="card-link" [routerLink]="['/courses/clone', course.id]" [title]="'Clone course '+ course.name"><i class="fa fa-2x fa-plus-square"></i></a>
                </div>
            </div>

        </div>
    
    </div>
