<div class="row">
    <div class="col-md-4">
        <form #mycourse="ngForm" (ngSubmit)="register(mycourse.value)">

            <div class="form-group">
                <label for="name" class="control-label">Name</label>
                <input (ngModel)="name" name="name" class="form-control" />

            </div>

            <div class="form-group">
                <label for="startDate" class="control-label">StartDate</label>
                <input type="date" (ngModel)="startDate" 
                        name="startDate" class="form-control" />

            </div>
            <div class="form-group">
                <label for="description" class="control-label">Description</label>
                
                <textarea  (ngModel)="description" name="description" class="form-control" cols="30" rows="5"></textarea>
            </div>
            <div class="form-group">
                <label for="fileData" class="control-label">File</label>
                <input type="file" #fileInput (ngModel)="fileData" name="fileData" class="form-control" />
               
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>