

<div class="row" *ngIf='documents && documents.length'>
    <div class="col-md-12">
      
        <div class="card">
            <h5 class="card-header">Documents</h5>
           

            <div class="holder">
                <div class="card" style="margin-top: 10px;" *ngFor='let document of documents'>

                    <div class="card-body">
                        <h5 class="card-title">{{document.name}}</h5>
                
                            {{document.description}}

                        
                        <p style="text-align:right"><small><b>Upload date:</b> {{document.uploadDate|date:'yyyy-mm-dd'}} </small></p>




                    </div>
                    <div class="card-footer text-muted">

                        <p *ngIf="isTeacher" class="card-title btn btn-info" style="margin-right:5px" (click)="DeleteFile(document.id)"><i class="fa fa-1x fa-trash"></i></p>
                        <p class="card-title btn btn-info" style="margin-right:5px"  (click)="DownLoadFile(document.path)"><i class="fa fa-1x  fa-download"></i></p>
                      <!--  <p class="card-title btn btn-info" style="margin-right:5px"><i class="fa fa-1x fa-paperclip"></i></p>-->

                    </div>
                </div>
          
            </div>

        </div>
    </div>
    </div>
