

<div class="row" *ngIf='documents && documents.length'>
    <div class="col-md-12">
      
        <div class="card">
            <h5 class="card-header">Documents</h5>
           

            <div class="holder">
                <div class="card text-center" *ngFor='let document of documents'>

                    <div class="card-header">
                        <h5 class="card-title btn btn-link" (click)="DownLoadFile(document.path)">{{document.name}}</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{document.description}}</p>
                        <p class="card-title btn btn-info" (click)="DeleteFile(document.id)">Remove</p>
                    </div>
                    <div class="card-footer text-muted">
                        {{document.uploadDate |date: 'yyyy-MM-dd'}}
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
