<div *ngIf="course">
    <div class="row">

        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" [src]="course.courseImgPath==null?'':course.courseImgPath" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">{{course.name}}</h3>
                    <h5 class="card-title">{{course.startDate |date: 'yyyy-MM-dd'}}</h5>
                    <p class="card-text"> {{course.description}}</p>


                    <a href="javascript:void(0);" (click)="toggelPartipantList()">{{showpartipantlistmsg}}  partipantlist</a>
                    <app-partipant-list [courseid]='course.id'></app-partipant-list>

                    <div class="card-body" *ngIf="isTeacher">
                        <div class="row">
                            <div class="col-6">
                                <!-- <a [routerLink]="['/Modules/AddModuleWithCourseId', course.id]">Add Module</a> -->
                                <p>
                                    <a class="btn btn-info" asp-controller="Modules" asp-action="CreateWithCourseid" asp-route-id="@Model.Id">
                                        <i class="fa fa-1x fa-plus-square"></i>
                                    </a>
                                </p>
</div>
                            <div class="col-6">
                                <a class="btn btn-info" [routerLink]="['/AddPartipant', course.id]"><i class="fa fa-2x fa-user-plus"></i></a>
                            </div>
                        </div>
                    </div>

                </div>


              
            </div>
            </div>

            <div class="col-md-5">
                <detail_list [courseid]="course.id"></detail_list>
            </div>
            <div class="col-md-4">
                <div>
                    <upload-detail [DocOwnerId]="course.id"></upload-detail>
                </div>
                <doc-upload [DocOwnerId]="course.id" [DocOwnerTypeId]="1" [DocumentTypeId]="1"></doc-upload>


            </div>
        </div>

    </div>

