<div class="row">
    <div class="col-md-4 offset-md-2">
        <div class="table-responsive tableContainer">
            <label>Manage users</label>
            <table class="table  table-hover"  cellpadding="0" cellspacing="0" width="100%"  >

                <thead >
                  <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Last Name</th>
                  </tr>
                </thead>
                <tbody  >
                      <tr *ngFor='let user of user'>
                          <td >{{Choose.name}}</td>
                      </tr>
  
                  </tbody>
  
            </table>
        </div>
    </div>
    <div class="offset-md-1 col-md-4">
        <add_student_to_course></add_student_to_course>
    </div>
</div> 