<div class="row">
    <div class="col-md-4 offset-md-2">
        <div class="table-responsive tableContainer">
            <label>Manage users</label>
            <table class="table  table-hover"  cellpadding="0" cellspacing="0"   >

                <thead >
                  <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th width ="10em">Role</th>
                    <th width ="25em"></th>
                  </tr>
                </thead>
                <tbody  >
                      <tr *ngFor='let user of users'>
                          <td>{{user.firstName}}</td>
                          <td>{{user.lastName}}</td>
                          <td width ="10em">{{user.role}}</td>
                          <td width ="25em">
                              <a [routerLink]="['/Edit', user.id]">Edit</a>|
                              <a [routerLink]="['/Delete', user.id]">Edit</a>
                              <span *ngIf="user.role != 'Teacher'">|
                              <a href="javascript:void(0);" (click)="ChooseUser(user.id)">Manage courses</a>
                            </span>

                          </td>
                      </tr>
  
                  </tbody>
  
            </table>
        </div>
    </div>
    <div class="offset-md-1 col-md-4">
        <add_student_to_course></add_student_to_course>
    </div>
</div> 