<h1>Create</h1>	

 <h4>Module on {{courseID}}</h4>	
<hr />	
<div class="row">	
    <div class="col-md-4">	
            <div *ngIf="errorMessage" class="alert alert-warning">{{ errorMessage }}</div>
         <form #theForm="ngForm"  (ngSubmit)="Create(theForm)"  novalidate>	

             <input type="hidden" [(ngModel)]="Module.courseid" name="CourseId" />	

             <div class="form-group">	
                <label for="name" class="control-label">Name</label>	
                <input  [(ngModel)]="Module.name" name="name" id="name" class="form-control"   required #name="ngModel"/>
             </div>	

             <div class="form-group">	
                <label for="startDate" class="control-label">Start Date</label>	
                <input  type ="datetime-local" [(ngModel)]="Module.startDate" name="startDate"  [min]="coursestartdate"	
                   id="startDate" class="form-control"   required #startdate="ngModel"/>	
                <div class="text-danger" *ngIf="startDate && startDate.touched && startDate.invalid && startDate.errors.require">Formaterror on startdate  </div>
                <div class="text-danger" *ngIf="startDate && startDate.touched && startDate < coursestartdate">May not start before the course</div>
                <div class="text-danger" *ngIf="startDate && startDate.touched && endDate && endDate.touched && startdate>endDate">May not start before the end</div>
             </div>	
            <div class="form-group">	
                <label for="endDate" class="control-label">End Date</label>	
                <input  type ="datetime-local"  [(ngModel)]="Module.endDate" name="endDate"  [min]="coursestartdate"	
                  id="endDate" class="form-control"  required #enddate="ngModel"/>	
                  <div class="text-danger" *ngIf="endDate && endDate.touched && endDate.invalid">Formaterror on startdate  </div>
                  <div class="text-danger" *ngIf="endDate && endDate.touched && endDate < coursestartdate">May not start before the course</div>
                  <div class="text-danger" *ngIf="endDate && endDate.touched && startDate && startDate.touched && startdate>endDate">May not start before the end</div>
             </div>	
            <div class="form-group">	
                <label for="description" class="control-label">Description</label>	
                <textarea [(ngModel)]="Module.description" name="description" class="form-control" cols="30" rows="5" required></textarea>
            

             </div>	
            <div class="form-group">	
                    <input type="submit" class="btn btn-success" value="Register" [disabled]="theForm.invalid" />
                    <a [routerLink]="['/courses', Module.CourseId]" class="btn btn-default" >Go back</a>
            </div>	
        </form>	


     </div>	
</div> 