<div *ngIf="course && course.modules && course.modules.length>0">
    <div id="accordion" >

        <!--string name = Regex.Replace(@module.Name, @"[\W_]+", string.Empty);-->
        <div class="card" *ngFor="let module of course.modules">
            <div class="card-header" [id]="module.id">
                <div class="row">
                
                    <div class="btn btn-link collapsed col-6"
                        [attr.data-target]="'#'+ module.name2"
                        [attr.aria-controls]="module.name2"
                        data-toggle="collapse"
                        [attr.aria-expanded]="false"
                        (click)="TogggelCollapse(module.id)"
                        >
                        <h5 class="mb-0">  
                          
                            {{ module.name }}
                        </h5>
                        
                     
                    </div>
                    
                
                <div class="col-6 somepadding">
                        <h5 class="mb-0  btn btn-info"> 
                        <a [routerLink]="['/Modules/', module.id]"> <i class="fa fa-1x fa-info"></i></a>
                    </h5>
                     </div>
                    </div>
            </div>

            <div [id]="module.name2" [class]="'collapse'+ module.isExpanded" [attr.aria-labelledby]="module.id" data-parent="#accordion">
                <div>

                    <p>
                        {{module.description}}
                    </p>
                    <p style="text-align:right">
                        <small><b> {{module.startDate |date: 'yyyy-MM-dd'}} - {{module.endDate |date: 'yyyy-MM-dd'}} </b>  </small>
                    </p>
                </div>
                <div class="card-body" *ngIf="module.activities && module.activities.length >0">
                    <h4>Activities</h4>
                    <ul class="timeline">

                        <li *ngFor="let activity of module.activities">
                            <div>
                                <b>
                                    <a asp-controller="LMSActivities" asp-action="Details" [attr.asp-route-id]="activity.id">
                                        {{activity.name}}
                                    </a>
                                </b>

                                <p>
                                    {{activity.description}}
                                    <br> {{activity.activityType}}
                                </p>

                                <p style="text-align:right"> <small>  <b>{{activity.startDate |date: 'yyyy-MM-dd hh:mm:ss'}} </b>  </small></p>
                            </div>
                            <div *ngIf="isTeacher">
                                <a asp-controller="LMSActivities" asp-action="Edit" [attr.asp-route-id]="activity.id" style="margin-left:5px"  class="btn btn-info"> <i class="fa fa-1x fa-edit"></i></a>&nbsp; 
                                <a asp-controller="LMSActivities" asp-action="Delete" [attr.asp-route-id]="activity.id"  class="btn btn-info"><i class="fa fa-1x fa-minus-square" ></i></a>
                            </div>
                        </li>

                    </ul>
                    <div *ngIf="isTeacher">
                        <p class="btn btn-info">  <i class="fa fa-1x fa-plus-square"></i></p>
                    </div>
                </div>

            </div>

        </div>

     </div>

</div>