<div *ngIf="course && course.modules && course.modules.length>0">
    <div id="accordion" >

        <!--string name = Regex.Replace(@module.Name, @"[\W_]+", string.Empty);-->
        <div class="card" *ngFor="let module of course.modules">
            <div class="card-header" [id]="module.id">
                <h5 class="mb-0">
                    <div class="btn btn-link collapsed"
                        [attr.data-target]="'#'+ module.name2"
                        [attr.aria-controls]="module.name2"
                        data-toggle="collapse"
                        [attr.aria-expanded]="false"
                        (click)="TogggelCollapse(module.id)"
                        >
                             
                            {{ module.name }}

                    </div>
                </h5>
            </div>

            <div [id]="module.name2" [class]="'collapse'+ module.isExpanded" [attr.aria-labelledby]="module.id" data-parent="#accordion">
                <div class="card-body" *ngIf="module.activities && module.activities.length >0">
                    <h4>Activities</h4>
                    <ul class="timeline">

                        <li *ngFor="let activity of module.activities">
                            <a asp-controller="LMSActivities" asp-action="Details" [attr.asp-route-id]="activity.id">{{activity.name}}</a>
                            <a href="#" class="float-right"> {{activity.startDate}}</a>
                            <p>{{activity.description}}</p>
                            <a asp-controller="LMSActivities" asp-action="Edit" [attr.asp-route-id]="activity.id">Edit Activity</a>&nbsp;|&nbsp;
                            <a asp-controller="LMSActivities" asp-action="Delete" [attr.asp-route-id]="activity.id">Delete Activity</a>
                        </li>

                    </ul>
                    <a href="Create">Add Activity</a>
                </div>

            </div>

        </div>

     </div>

</div>