<ul class="navbar-nav">
 <div *ngIf="AuthService.isAuthenticated()">
      <li class="nav-item" >
          <a [routerLink]="['/Account/Manage']">
              Hello
              
                  <span>{{AuthService.FirstName}} {{AuthService.LastName}}</span>
              
          </a>
      </li>
          <li class="nav-item" *ngIf="this.AuthService.IsTeacher()">
              <a [routerLink]="['/Account/Register']">Register</a>
          </li>
      
      <li class="nav-item">
            <button (click)="logout()">Logout</button>

      </li>
    </div>
    <!--<div *ngElse> -->
<div>


      <li class="nav-item">
        <a [routerLink]="['/Account/Login']">Login</a>
      </li>

</div>
</ul>