

      <li class="nav-item" *ngIf="isAuthenticated"  >
          <a [routerLink]="['/Account/Manage']">
              Hello
              
                  <span>{{firstName}} {{lastName}}</span>
              
          </a>
      </li>
          <li class="nav-item" *ngIf="isTeacher">
              <a [routerLink]="['/Account/Register']">Register</a>
            </li>
              <li class="nav-item" *ngIf="isTeacher">  
              <a [routerLink]="['/Account/ManageUsers']">Manage Users</a>
          </li>
      
      <li class="nav-item" *ngIf="isAuthenticated">
        <a href="/#" (click)="logout()">Logout</a>

      </li>


      <li class="nav-item" *ngIf="!isAuthenticated" >
        <a [routerLink]="['/Account/Login']">Login</a>
      </li>

