@model List<LMS_1_1.Models.CourseUser>
@{
    ViewData["Title"] = "Default";
}

<div class="row">


    @foreach (var item in Model)
    {
        <div class="col-6">
           
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
           
        </ul>

    }




</div>

