@model List<LMS_1_1.Models.CourseUser>
@{
    ViewData["Title"] = "Default";
}




    @foreach (var item in Model)
    {
      
<ul class="list-group list-group-flush">
    <li class="list-group-item">@item.LMSUser.FirstName </li>
    <li class="list-group-item"> @item.LMSUser.FirstName</li>
    <li class="list-group-item"> @item.LMSUser.FirstName </li>
</ul>

    }






