
<div  *ngIf="!isTeacher">
<div style="text-align:center"  >
     <span *ngIf="pageTitle">Add/Remove courses for {{pageTitle}}</span>
</div>
<div  class="container">
    <div class="row">
    <div class="col-sm-6">
      
        <div>Filtera</div>
      <div >
          <input type='text'  [(ngModel)]='listFilter'/>
      </div>
      </div>
        <div class="col-sm-6">
          &nbsp;
        </div>
      </div>
  <div class="row">
      
          <div class="col-sm-6">

        <div class="table-responsive tableContainer">
          <label>Choose among these</label>



          <table class="table scrollTable table-hover"  cellpadding="0" cellspacing="0" width="100%"  >

              <thead class="fixedHeader">
                <tr id="from_ChooseFrom">
                  <th width="100%">Name</th>
                </tr>
              </thead>
              <tbody id="Bodyn_ChooseFrom" class="scrollContent" >
                    <tr *ngFor='let Choose of ChooseFrom'>
                        <td width="98%" [title]="'Add '+ Choose.description" (click)="chooseCourse(Choose.courseid)">{{Choose.name}}</td>
                    </tr>

                </tbody>

          </table>
    
        </div>
      
    </div>

 
<div class="col-sm-6">
<div>
  <div class="table-responsive tableContainer">
      <label>Click here to unchoose</label>
        <table class="table scrollTable table-hover" cellpadding="0" cellspacing="0" width="100%"  >
            <thead class="fixedHeader">
              <tr id="from_Choosed">
                <th width="100%">Name</th>
              </tr>
            </thead>
            <tbody id="Bodyn_Choosed" class="scrollContent">
                  <tr *ngFor='let UnChoose of Choosed'>
                      <td width="98%" [title]="'Remove '+ UnChoose.description" (click)="unChooseCourse(UnChoose.courseid)">{{UnChoose.name}}</td>
                  </tr>

            </tbody>
        </table>
      </div> 
        <button *ngIf="userid && userid!=' '" class="btn btn-success" (click)="SaveCourses()">Save</button>
        <button *ngIf="!CoursesChoosed && (!userid || userid==' ')" class="btn btn-success" (click)="ChooseCourses()">Lock Choosed</button>
        <button *ngIf="CoursesChoosed && (!userid || userid==' ')" class="btn btn-success" (click)="ChooseCourses()">Unlock choosed</button>
      </div>
  
   
  </div>
  
</div>
</div>